package {{packageName}}.common.test

import {{packageName}}.common.HelloCommonKtUtils
import org.junit.Test
import kotlin.test.assertEquals

/**
 * @author Pengtao Qiu
 */
class TestCommonUtils {

    @Test
    fun test() {
        assertEquals(true, HelloCommonKtUtils.hello())
    }
}