package {{packageName}}.server.test

import {{packageName}}.server.HelloServer
import org.junit.Test
import kotlin.test.assertEquals

/**
 * @author Pengtao Qiu
 */
class TestHelloServer {

    @Test
    fun test() {
        assertEquals(true, HelloServer().say())
    }
}