<!DOCTYPE html>
<html>
<body>
<div>${user.name}/${user.role}</div>
<!-- #if ${user.role} == "admin" -->
<table>
	<tr>
	  <th>NO.</th>
	  <th>Title</th>
	  <th>Author</th>
	  <th>Publisher</th>
	  <th>PublicationDate</th>
	  <th>Price</th>
	  <th>DiscountPercent</th>
	  <th>DiscountPrice</th>
	</tr>
	<!-- #for book : ${books} -->
		<!-- #if ${book.price} > 0 -->
		<tr>
		  <td>${book_index}</td>
		  <td>${book.title}</td>
		  <td>${book.author}</td>
		  <td>${book.publisher}</td>
		  <td>${dateFormat(book.publication)}</td>
		  <td>${book.price}</td>
		  <td>${book.discount}%</td>
		  <td>${book_count(book)}</td>
		</tr>
		<!-- #end -->
	<!-- #end -->
</table>
<!-- #elseif ${user} != null -->
<table>
  <tr>
    <td>No privilege.</td>
  </tr>
</table>
<!-- #else -->
<table>
  <tr>
    <td>No login.</td>
  </tr>
</table>
<!-- #end -->
</body>
</html>