package com.firefly.kt.web.seed.api.test

import com.firefly.kt.web.seed.api.Hello
import org.junit.Test
import kotlin.test.assertEquals

/**
 * @author Pengtao Qiu
 */
class TestHello {

    @Test
    fun test() {
        assertEquals(true, Hello().say())
    }
}