package {{packageName}}.api.service

import {{packageName}}.api.model.entity.Project
import {{packageName}}.api.model.vo.ProjectVo

/**
 * @author Pengtao Qiu
 */
interface ProjectService {

    suspend fun get(id: Long): ProjectVo

    suspend fun insert(project: Project): Long

}