<?xml version="1.0" encoding="UTF-8"?>
<loggers xmlns="http://www.fireflysource.com/loggers"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.fireflysource.com/loggers http://www.fireflysource.com/loggers.xsd">
    <logger>
        <name>firefly-system</name>
        <level>INFO</level>
        <path>${log.path}</path>
        <enable-console>${log.enableConsole}</enable-console>
        <formatter>{{packageName}}.server.common.FireflyKtWebSeedLogFormatter</formatter>
        <log-filter>{{packageName}}.server.common.ErrorLogFilter</log-filter>
    </logger>

    <logger>
        <name>firefly-monitor</name>
        <level>INFO</level>
        <path>${log.path}</path>
        <formatter>{{packageName}}.server.common.FireflyKtWebSeedLogFormatter</formatter>
    </logger>

    <logger>
        <name>{{artifactId}}-monitor</name>
        <level>INFO</level>
        <path>${log.path}</path>
        <formatter>{{packageName}}.server.common.FireflyKtWebSeedLogFormatter</formatter>
    </logger>

    <logger>
        <name>{{packageName}}</name>
        <level>${log.level}</level>
        <path>${log.path}</path>
        <enable-console>${log.enableConsole}</enable-console>
        <formatter>{{packageName}}.server.common.FireflyKtWebSeedLogFormatter</formatter>
        <log-filter>{{packageName}}.server.common.ErrorLogFilter</log-filter>
    </logger>

    <logger>
        <name>{{artifactId}}-error</name>
        <level>ERROR</level>
        <path>${log.path}</path>
        <formatter>{{packageName}}.server.common.FireflyKtWebSeedLogFormatter</formatter>
    </logger>
</loggers>
