<li><a href="{{ site.url }}/docs/getting-start.html">Getting start</a></li>
<li><a href="{{ site.url }}/docs/http-server-and-client.html">HTTP server and client</a></li>
<li><a href="{{ site.url }}/docs/websocket-server-and-client.html">WebSocket server and client</a></li>
<li><a href="{{ site.url }}/docs/tcp-server-and-client.html">TCP server and client</a></li>
<li><a href="{{ site.url }}/docs/ssl-tls-configuration.html">SSL/TLS configuration</a></li>
<li><a href="{{ site.url }}/docs/ioc-framework.html">Inversion of control</a></li>
<li><a href="{{ site.url }}/docs/database-access.html">Database access</a></li>
<li><a href="{{ site.url }}/docs/log.html">Log</a></li>
<li><a href="{{ site.url }}/docs/oauth2-server-and-client.html">OAuth2 server and client</a></li>
<li class="divider"></li>
<li><a href="{{ site.url }}/docs/http-server-and-client-kotlin-ext.html">HTTP server and client (Kotlin)</a></li>
<li><a href="{{ site.url }}/docs/database-access-kotlin.html">Database access (Kotlin)</a></li>
<li class="divider"></li>
<li><a href="{{ site.data.global.githubURL }}/tree/master/firefly-example/src/main/java/com/firefly/example">Example (Java)</a></li>
<li><a href="{{ site.data.global.githubURL }}/tree/master/firefly-example/src/main/kotlin/com/firefly/example/kotlin">Example (Kotlin)</a></li>
