<head>
<title>{{ page.title }}</title>
<meta name="baidu-site-verification" content="AKJ3BHCnjv" />
<meta name="keywords" content="Java, Template engine, IOC、MVC framework, HTTP Server, Common tools" />
<meta name="description" content="High performance full-stack java web framework. " />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ site.url }}/css/github.css" rel="stylesheet" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="{{ site.url }}/js/html5shiv.js"></script>
	<script src="{{ site.url }}/js/respond.min.js"></script>
<![endif]-->

<style type="text/css">
.navbar-brand-logo {
background-image: url({{ site.url }}/images/firefly-logo.png);
background-repeat: no-repeat;
background-size: 36px 36px;
padding: 5px 18px;
}
</style>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18094279-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>