<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="{{ site.url }}/js/html5shiv.js"></script>
	<script src="{{ site.url }}/js/respond.min.js"></script>
<![endif]-->

<style type="text/css">
.navbar-brand-logo {
background-image: url({{ site.url }}/images/firefly-logo.png);
background-repeat: no-repeat;
background-size: 36px 36px;
padding: 5px 18px;
}
</style>
</head>