<div class="navbar navbar-default navbar-static-top" id="top">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a href="{{ site.url }}/index.html" class="navbar-brand"><span class="navbar-brand-logo"></span>&nbsp;Firefly Project</a>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
	<ul class="nav navbar-nav">
		<li><a href="{{ site.url }}/blog/index.html">Blog</a></li>
	  <li><a href="{{ site.data.global.downloadURL }}" target="_blank" >Downloads</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Documents <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="Documents">
        <li><a href="{{ site.url }}/docs/getting-start.html">Getting start</a></li>
				<li><a href="{{ site.url }}/docs/tcp-server-client.html">TCP server and client</a></li>
        <li><a href="{{ site.url }}/docs/tcp-configuration.html">TCP configuration</a></li>
        <li><a href="{{ site.url }}/docs/http-server-client.html">HTTP server and client</a></li>
        <li><a href="{{ site.url }}/docs/http-server-client.html">HTTP router</a></li>
        <li><a href="{{ site.url }}/docs/http-configuration.html">HTTP configuration</a></li>
        <li><a href="{{ site.url }}/docs/ioc-framework.html">IOC framework</a></li>
        <li><a href="{{ site.url }}/docs/database-access.html">Database access</a></li>
        <li><a href="{{ site.url }}/docs/log-configuration.html">Log configuration</a></li>
      </ul>
    </li>
    <li class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Get involved <span class="caret"></span></a>
    	<ul class="dropdown-menu" aria-labelledby="Documents">
          <li><a href="https://github.com/hypercube1024/firefly" target="_blank">Github</a></li>
          <li><a href="http://qgc.qq.com/4691508" target="_blank">QQ Group</a></li>
      </ul>
    </li>
	</ul>
	</div>
</div>
</div>
