<!DOCTYPE html>
<html>
<head>
	<title>Goods editing</title>
</head>
<body>
	<form action="post" method="post">
	<fieldset>
	<legend>Goods Information:</legend>
		Title: <input type="text" name="title" ><br>
		Introduction: <input type="text" name="introduction"><br>
		Price: <input type="text" name="price"><br>
		Stock Number: <input type="number" name="stockNumber" ><br>
		Status: <input type="number" name="status"><br>
		<input type="submit" value="submit"><br>
	</fieldset>
	</form>
</body>
</html>