package com.firefly.kt.web.seed.server.router.impl.sys.handler

import com.firefly.kt.web.seed.server.dao.db.DbClient
import com.firefly.annotation.Component
import com.firefly.annotation.Inject
import com.firefly.codec.http2.model.HttpStatus
import com.firefly.kotlin.ext.http.AsyncHandler
import com.firefly.kotlin.ext.http.asyncFail
import com.firefly.kotlin.ext.http.asyncNext
import com.firefly.kotlin.ext.http.asyncSucceed
import com.firefly.kotlin.ext.log.KtLogger
import com.firefly.server.http2.router.RoutingContext

/**
 * @author Pengtao Qiu
 */
@Component("transactionalHandler")
class TransactionalHandler : AsyncHandler {

    private val log = KtLogger.getLogger { }

    @Inject
    private lateinit var db: DbClient

    override suspend fun handle(ctx: RoutingContext) {
        log.info("begin transaction -> ${ctx.uri}")
        val t = db.getDbClient()
        t.beginTransaction()
        ctx.asyncNext<Unit>(succeeded = {
            try {
                t.commitAndEndTransaction()
                log.info("commit and end transaction -> ${ctx.uri}")
                ctx.asyncSucceed(Unit)
            } catch (e: Exception) {
                log.error("commit and end transaction exception")
                ctx.asyncFail<Unit>(e)
            }
        }, failed = {
            ctx.setStatus(HttpStatus.INTERNAL_SERVER_ERROR_500)
            try {
                t.rollbackAndEndTransaction()
                log.warn("rollback and end transaction -> ${ctx.uri}")
                ctx.asyncFail<Unit>(it)
            } catch (e: Exception) {
                log.error("rollback and end transaction exception -> ${ctx.uri}")
                ctx.asyncFail<Unit>(e)
            }
        })
    }

}