package com.firefly.kt.web.seed.server;

/**
 * @author Pengtao Qiu
 */
public class HelloServer {

    public boolean say() {
        System.out.println("hello firefly kt web seed server");
        return true;
    }

}
