package {{packageName}}.common;

/**
 * @author Pengtao Qiu
 */
abstract public class HelloCommonUtils {

    public static boolean say() {
        System.out.println("hello kt web seed common");
        return true;
    }

}
