<!DOCTYPE html>
<html>
<head>
    {{>header}}
    <title>Coffee store</title>
</head>
<body>
<div class="container">
    <div class="row my-2 p-1">
        <div class="col">{{#userName}}Hi {{.}}. {{/userName}} Welcome to coffee store</div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#products}}
                    {{#record}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td>{{typeDesc}}</td>
                        <td>{{amount}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/record}}
                    {{^record}}
                    <tr><td colspan="6">No data</td></tr>
                    {{/record}}
                {{/products}}
                {{^products}}
                    <tr><td colspan="6">No data</td></tr>
                {{/products}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>scripts}}
</body>
</html>