package com.firefly.kt.web.seed.server.test.common

import org.junit.Before

/**
 * @author Pengtao Qiu
 */
abstract class AbstractServerTest {

    @Before
    fun init() {
        Context.init()
    }

}